/* header-part */
header{
    background-color: #264653;
    ;
}
.button{
    text-decoration: none;
    width: 168;
    height: 44px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #E76F51;
}
/* header-part end*/

/* all colorfull text of body */
.colorfull-txt{
    color: #E76F51;
}

/* client-section */
.client img{
    height: 35%;
    width: 80%;
}
.rating{
    color:  #E77C40;
}
.client-name{
    color: #23A6F0;
    ;
}
/* client-section end */